#game_screen {
    width: 100%;
    padding-top: calc(3/4 * 100%);
    background: white;
    position: relative;
    overflow: hidden;
}

#game_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
    border-radius: 15px;
    background-color: aquamarine;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

/* Game Start Screen */
#game_start {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

#top_start {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#middle_start {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    flex-grow: 2;
}

#bottom_start {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 2;
}

/* Gameplay Screen */
#gameplay {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#answer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-grow: 2;
}
#answer > * {
    height: 80%;
}

#answer_input {
    width: 70%;
    font-size: 10vh;
    text-align: center;
}

#middle_row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#first_num {
    width: 40%;
    text-align: center;
    font-size: 10vw;
    background-color: #ffffff61;
    border-radius: 70px;
}

#math_type {
    width: 18%;
    font-size: 4vw;
    text-align: center;

}

#second_num {
    width: 40%;
    text-align: center;
    font-size: 10vw;
    background-color: #ffffff61;
    border-radius: 70px;}

#game_visuals {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
    height: 0;
}

#mario {
    position: absolute;
    display: flex;
}

#goomba {
    position: absolute;
    display: flex;
}

/* Game Result Screen */

#game_result {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

#top_result {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#middle_result {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    flex-grow: 2;
}

#bottom_result {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 2;
}