@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa&display=swap');

html, body {
    height: 100%;
}
body {
    margin: 0;
}

html, 
body, 
div, 
h1, 
h2, 
h3,
h4, 
h5,
h6,
p, 
input, 
label, 
button, 
*{
    font-family: 'Aref Ruqaa', serif;
}

.wrapper{
    background-color: lightblue;
    height: 100%;
}

.wrapper .inner {
    margin: 0 auto;
    background-color: beige;
    height: 100%;
    width: 133.4vh;
}

#game_screen {
    width: 100%;
    padding-top: calc(3/4 * 100%);
    background: white;
    position: relative;
}

#game_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
    border-radius: 15px;
    background-color: aquamarine;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

/* Game Start Screen */
#game_start {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

#top_start {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#top_start h1 {
    font-size: 12vh;
}

#middle_start {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-grow: 2;
}

#middle_start h5 {
    font-size: 6vh;
}

#middle_start p {
    font-size: 4vh;
}

#bottom_start {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 2;
}

/* Gameplay Screen */
#gameplay {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#answer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-grow: 2;
}
#answer > * {
    height: 50%;
}

#answer_input {
    width: 50%;
    font-size: 5vh;
    text-align: center;
}

#progress_bar{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
    font-size: 4vh;
    color: #FFFFFF;
}

#middle_row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#first_num {
    width: 40%;
    text-align: center;
    font-size: 15vh;
    background-color: #ffffff61;
    border-radius: 70px;
}

#math_type {
    width: 18%;
    font-size: 10vh;
    text-align: center;

}

#second_num {
    width: 40%;
    text-align: center;
    font-size: 15vh;
    background-color: #ffffff61;
    border-radius: 70px;}

#game_visuals {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
    height: 0;
}

#mario {
    position: absolute;
    display: flex;
}

#goomba {
    position: absolute;
    display: flex;
}

/* Game Result Screen */

#game_result {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

#top_result {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#top_result h1 {
    font-size: 25vh;
    margin: 2vh auto;
}

#middle_result {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    flex-grow: 2;
}

#middle_result h5 {
    font-size: 15vh;
    margin: 2vh auto;
}

#bottom_result {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 2;
}

#retry_button {
    width: 40vh;
}

/* Component Styles */
.buttonMario {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
    display:flex;
    justify-content: center;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
    text-align: center;
}
.buttonMario:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.buttonMario:active {
	position:relative;
	top:1px;
}

.menu_buttons {
    height: 12vh;
    width: 20vh;
    font-size: 4vh;
    text-align: center;
}

.menu_buttons > * {
    text-align: center;
}

.inputMario {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    -webkit-transition:background-color 0.2s;
    -moz-transition:background-color 0.2s;
    -o-transition:background-color 0.2s;
    transition:background-color 0.2s;

}
.inputMario:focus {
    outline:none;
}